.quiz {
  width: 70%;
  height: 100%;
  background-color: #0e153a;
  color: white;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  background-color: #21e6c1;
  color: white;
  width: 130px;
  height: 40px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.submit-btn:focus {
  outline: none;
}

.submit {
  align-self: flex-end;
  margin-top: 100px;
  margin-right: 50px;
}

.option-item {
  margin-top: 10px;
  letter-spacing: 3px;
}
.option-item :first {
  margin-top: 20px;
}

.question h4 {
  letter-spacing: 2px;
}
