* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ede574;
  background: -webkit-linear-gradient(to right, #e1f5c4, #ede574);
  background: linear-gradient(to right, #e1f5c4, #ede574);
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.App {
  display: flex;
  height: 80vh;
  width: 70%;
}
